h1= 'BBLiss'
h2= 'New Stream'
form(method='POST' action='/app/new' name='streamForm')
  a= 'Title:'
  input(type='text' name='title')
  input(type='hidden' name='location')
  input(type='hidden' name='platform')
  input(type='hidden' name='channel')
  input(type='hidden' name='netInfo')
  input(type='button' value='start')
video(autoplay)
script(src='/socket.io/socket.io.js')
script(src='../createStream.bundle.js')
