extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    a(href='/watch')
      input(type='button' value='watch')
    a 
    a(href='/stream/add') 
      input(type='button' value='stream')
