extends layout

block content
  h1 Fluxo
  p Add Stream
  form
    p Title: 
      input(type='text' id='title')
    input(type='button' onclick='onAddStreamClick()' value='start')
  script(src='../javascripts/bundle.js')
